body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu5QlZ5z2AdGJoFGPLNLe-NVw6g0EFemGgC8F24FAoDGxvGaA2vvt3pMc&s=10);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

