p{
    color:rgb(31, 155, 155);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#second{
    color:blue;
    font-family: "Poppins", sans-serif;;
}