h1 {
    text-align: center;
    background-color: lightblue;
}

.form-container {
    height: 250px;
    width: 250px;
    border: 1px solid black;
}

.table-container {
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

input[type="text"] {
    display: block;
    margin: 10px;
}

#btn {
    padding: 5px;
    width: 200px;
    margin-top: 25px;
}

.icon {
    height: 25px;
}

.search-icon {
    height: 25px;
    width: 25px;
}

.search-box {
    display: inline;
}


.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* .main-container h2 {
    grid-column: 1 / -1;
} */

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}