* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: white;
}

nav {
    font-size: 18px;
    background-color: rgb(176, 163, 163);

    align-content: center;

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li {

    padding: 20px;
}

li:hover {
    background-color: grey;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.box {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background-color: lightblue;
}

@media all and (max-width:420px) {
    ul {
        flex-direction: column;
    }

    li {
        text-align: center;
    }

}